:root {
  --black: #000;
  --black-20: rgba(0, 0, 0, 0.2);
  --white: #fff;
  --white-50: rgba(255, 255, 255, 0.5);
  --grey: #787c7e;
  --lightgrey: #d3d6da;
  --darkgrey: #878a8c;
  --green: #6aaa64;
  --yellow: #c9b458;
}